<div class="col-md-6 user-container" id="hihihi">
<h2 class="text-center">Edit User</h2>
<form [formGroup]="studentForm" (ngSubmit)="submit()">
<div class="form-group">
<label for="name">Name:</label>
<input
  type="text"
  class="form-control"
  id="name"
  formControlName="firstname"
  required
/>

<div class="form-group">
<label for="lastname">Lastname:</label>
<input
  type="text"
  class="form-control"
  id="lastname"
  formControlName="lastname"
  required
/>
</div>

<div class="form-group">
<label for="class">Class:</label>
<select class="form-control" id="class" formControlName="class" required>
<option value="1.A">1.A</option>
<option value="1.B">1.B</option>
<option value="2.A">2.A</option>
<option value="2.B">2.B</option>
<option value="3.A">3.A</option>
<option value="3.B">3.B</option>
<option value="4.A">4.A</option>
<option value="4.B">4.B</option>
</select>
</div>





<div class="form-group">
<label for="age">Age:</label>
<input
  type="number"
  class="form-control"
  id="age"
  formControlName="age"
/>
</div>



<div class="form-group">
<label for="date">Date of Birth:</label>
<input
  type="date"
  class="form-control"
  id="date"
  formControlName="date"
/>
</div>

<div class="form-group">
<label for="field">Study Field: </label>
<select class="form-control" id="field" formControlName="field">
  <option value="ai">AI</option>
  <option value="it">inteligent technologies</option>
  <option value="pr">programing</option>
  <option value="nt">network technologies</option>
  <option value="en">energetika</option>
  <option value="ec">electricity</option></select
><br /><br />
</div>

<div class="form-group">
<label for="gender">Gender:</label>
<select class="form-control" id="gender" formControlName="gender">
  <option value="male">Male</option>
  <option value="female">Female</option>
  <option value="other">Other</option>
</select>
</div>

<div class="form-group">
<label for="average">Average Grade:</label>
<input
  type="number"
  class="form-control"
  id="average"
  formControlName="average"
  min="1"
  max="5"
/>
</div>

<div class="form-group">
<label for="disabled">Disabled:</label>
  <input type="checkbox">
</div>

<div class="form-group">
<label for="awards">Awards:</label>
<textarea
  class="form-control"
  id="awards"
  formControlName="awards"
></textarea>
</div>
  <br>
  <button class="btn btn-success">Update</button>

</div>