<div class="col-md-6 user-container" id="hihihi">
  <button class="btn" style="width:100px; border: 1px solid black" routerLink="/adduser">
    <a>Add User</a>
  </button>

  <table class="table">
  <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>Class</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{ student.firstname }}</td>
    <td>{{ student.lastname }}</td>
    <td>{{ student.class }}</td>
    <td>
      <button (click)="details(this.student)">Details</button>
    </td>
    <td>
      <button (click)="navigateToEdit(this.student)">Edit</button>
    </td>
    <td>
      <button (click)="delete(this.student)">Delete</button>
    </td>
  </tr>
</table>
</div>