<div class="col-md-6 user-container" id="hihihi">
  <h2 style="margin: auto">User Details</h2>
  <button class="btn" style="width:100px" routerLink="/adduser">
    <a>Add User</a>
  </button>

  <table class="table">
  <tr>
    <th>Name</th>
    <th>Lastname</th>
    <th>Class</th>
  </tr>
  <div *ngFor="let student of students">
  <tr>
    <td>{{ student.firstname }}</td>
    <td>{{ student.lastname }}</td>
    <td>{{ student.class }}</td>
    <td>
      <button (click)="navigateToDetail(this.student)">Details</button>
    </td>
    <td>
      <button (click)="navigateToEdit(this.student)">Edit</button>
    </td>
    <td>
      <button (click)="delete(this.student)">Delete</button>
    </td>
  </tr>
  <tr><app-detail-user></app-detail-user></tr>
</div>
</table>
</div>
        <!-- (click)="editUser(user)" -->          <!-- (click)="deleteUser(user)" -->