<div style="padding: 20%;">
  <h2>Log in</h2>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label><br />
      <input
        [ngModelOptions]="{ standalone: true }"
        type="email"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [(ngModel)]="email"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label><br />
      <input
        [ngModelOptions]="{ standalone: true }"
        type="password"
        id="exampleInputPassword1"
        placeholder="Password"
        [(ngModel)]="password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary" (click)="loginuser()">
      Submit
    </button>
  </form>
</div>
