<div class="col-md-6 user-container" id="hihihi">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="studentForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input
        formControlName="firstname"
        placeholder="First Name"
        name="firstname"
        class="form-control"
        id="firstName"
        #name
        required
      />
    </div>

    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input
        formControlName="lastname"
        placeholder="Last Name"
        name="lastName"
        class="form-control"
        id="lastName"
        required
      />
    </div>

    <div class="form-group">
      <label for="class">Trieda:</label>
      <select name="Trieda" formControlName="class">
        <option value="1.A">1.A</option>
        <option value="1.B">1.B</option>
        <option value="2.A">2.A</option>
        <option value="2.B">2.B</option>
        <option value="3.A">3.A</option>
        <option value="3.B">3.B</option>
        <option value="4.A">4.A</option>
        <option value="4.B">4.B</option>
      </select>
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input
        type="number"
        formControlName="age"
        placeholder="age"
        name="age"
        class="form-control"
        id="age"
        min="0"
      />
    </div>

    <div class="form-group">
      <label for="birthday">Birthdate:</label>
      <input
        type="date"
        formControlName="birthdate"
        placeholder="date"
        name="date"
        class="form-control"
        id="date"
      />
    </div>

    <div class="form-group">
      <label for="specia">Study Field: </label>
      <select id="specia" formControlName="specia">
        <option value="ai">AI</option>
        <option value="it">inteligent technologies</option>
        <option value="pr">programing</option>
        <option value="nt">network technologies</option>
        <option value="en">energetika</option>
        <option value="ec">electricity</option></select
      ><br /><br />
    </div>

    <div class="form-group">
    <label for="gender">Gender:</label>
    <select name="gender" formControlName="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
    </select>
  </div>

    <div class="form-group">
      <label for="average">Average:</label>
      <input
        type="number"
        formControlName="average"
        placeholder="priemer"
        name="priemer"
        class="form-control"
        id="priemer"
        min="1"
        max="5"
      />
    </div>

    <div class="form-group">
      <label for="disabled">Disabled:</label>
      <input
        type="checkbox"
        id="disabled"
        name="disabled"
        formControlName="disabled"
      />
    </div>

    <div class="form-group">
      <label for="awards">Awards:</label>
      <input
        type="text"
        formControlName="awards"
        placeholder="ocenenia"
        name="ocenenia"
        class="form-control"
        id="ocenenia"
      />
    </div>

    <br />
    <button class="btn btn-success" (click)="(submit)">Add</button>
  </form>
</div>
